@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://github.com/tailwindlabs/tailwindcss/discussions/12127 */
@supports (overflow-wrap: anywhere) {
  .break-anywhere {
    overflow-wrap: anywhere;
  }
}
@supports not (overflow-wrap: anywhere) {
  .break-anywhere {
    word-break: break-word;
  }
}

@layer base {
  :root {
    --foreground: 0 0 0; /* black */
    --background: 255 255 255; /* white */
    --muted: 100 116 139; /* slate-500 */
    --more-muted: 203 213 225; /* slate-300 */
  }
  .dark {
    --foreground: 226 232 240; /* slate-200 */
    --background: 15 23 42; /* slate-900 */
    --muted: 148 163 184; /* slate-400 */
    --more-muted: 71 85 105; /* slate-600 */
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

html {
  overscroll-behavior: none;
}
